/*
change brand font

*/

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;

}

/* change navigation color */
.navbar #myMenu .custom-nav .nav-item a {
  color: #ffffff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: #f0aab1;
}

.back-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  border-radius: 0px;
  margin-top: 74px;
}

/* header Image sub-title tag line  */
.font-italic {
  font-size: 24px;
}


/*margin for main heading  */
.mainHeading {
  margin-top: 50px;
}


.container .row .col-md-4 .ContacAddress {
  border: 3px #1961F0 solid;
  border-radius: 20px;
  background-color: #9FF0A7;

}

.container .row .col-md-4 .ContacAddress strong {
  font-weight: bold;
  font-style: italic;
  color: #1961F0;

}

.jumbotron .container .introPrara {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5em;
  font-size: 22px;

  font-weight: 100;

}


.cbox {
  /* height: 200px; */
  border: 5px solid;
}
.arow{
  border: 10px solid yellow;
}

.adiv{
  height: 60px;
  background-color: red;
}
.bdiv{
  height:60px;
  background-color: gray;;
}
.cdiv{
  height: 60px;
  background-color: chocolate;
}
.ddiv{
  height: 60px;
  background-color: green;
}
.ediv{
  height: 60px;
  background-color: fuchsia;
}
.fdiv{
  height: 60px;
  background-color: blue;
}




/* media query*** */
@media only screen and (max-width:600px) {
  .myclass {
    margin-top: 300px;
    text-align: center;
  }

}